<!DOCTYPE html>
<html lang="en" dir=""ltr>
    
    <%- include('./partials/head.ejs') %> 
    
    <body style="background-color: linear-gradient(#561919,#254662)">

        <div>
            <form>
                <label for="title">Blog title:</label>
                <P></P>
                <input type="text" id="title" required>
                <P></P>
                <label for="snippet">Blog Snippet:</label>
                <P></P>
                <input type="snippet" id="snippet" required>
                <P></P>
                <label for="body">Blog Body:</label>
                <P></P>
                <textarea id="body" cols="30" rows="10" required></textarea>
                <P></P>
                <button>Submit</button>
            </form>
        </div>
    
        <%- include('./partials/nav.ejs') %> 
    
    </body>
    <footer>
        Copyright &copy; Stoia Alin
    </footer>
</html>