<nav>
    <div class="site-title">
      <a href="/"><h1>TestBlog</h1></a>
      <p>International blog</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
      <li><div id="google_translate_element"></div>   </li>
    </ul>
    
  </nav>