<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    MARE 404 CE AI LUAT
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>