
<html lang="en">
    <%- include("./partials/head.ejs") %>
    
    <body>
      <%- include("./partials/nav.ejs") %>
    
      <div class="about content">
        <h2>About Us</h2>
        <h1 style="color:rgba(146, 7, 7, 0.83)">//Project </h1>
        <h2>Blog Web Application using NodeJS, MongoDB and Express Frameworks</h2>
        
        <h1 style="color:rgba(146, 7, 7, 0.83)">//Members</h1>
        <span style="color:rgba(16, 69, 76, 1)">Developer: </span><h3>Stoia Alin - IE, gr.6</h3>
        <span style="color:rgba(39, 76, 16, 1)">Tester:</span><h3>Trufas Iulia - SPE - gr. x</h3>
        <span style="color:rgba(28, 16, 76, 1)">Translator:</span><h3>Trufas Iulia - SPE - gr. x</h3>
        <span style="color:rgba(76, 16, 16, 1)">Project Manager:</span><h3>Trufas Iulia - SPE - gr. x</h3>
        <br>
        <h1 style="margin-bottom: 20px; color:rgba(146, 7, 7, 0.83)">//We used </h1>
        <b>
        <li>Front-end: HTML5, CSS3, JavaScript</li>
        <li>Back-end: JavaScript, NodeJS, Express, LoDash</li>
        <li>Database: MongoDB</li>
        <li>Testing Tools: Postman</li>
      </b>
      <br>

      </div>
      <div class="ITLogos">
          <div class="LogoComponent"><a href="https://www.w3schools.com/html/"><img src="img/HTML5.png" alt="HTML5"></a></div>
          <div class="LogoComponent"><a href="https://www.w3schools.com/css/"><img src="img/CSS3.png" alt="CSS3"></a></div>
          <div class="LogoComponent"><a href="https://www.javascript.com/"><img src="img/JS.png" alt="JavaScript"></a></div>
          <div class="LogoComponent"><a href="https://www.mongodb.com/"><img src="img/MONGO.png" alt="MongoDB"></a></div>
          <div class="LogoComponent"><a href="https://nodejs.org/"><img src="img/NODEJS.png" alt="NodeJS"></a></div>
          <div class="LogoComponent", style="width: 120px;"><a href="https://expressjs.com/"><img src="img/EXPRESSJS.png" alt="Express.JS"></a></div>
          <div class="LogoComponent" style="width: 80px;"><a href="https://lodash.com"><img src="img/LODASH.png" alt="LoDash"></a></div>
          <div class="LogoComponent"><a href="https://www.postman.com/"><img src="img/POSTMAN.png" alt="Postman"></a></div>
          
      </div>
    
      <%- include("./partials/footer.ejs") %>
    </body>
    </html>