<html>
    <%- include('./partials/head.ejs') %> 
    <body>

       <h1>About </h1>
       <p></p>
       <h2>(adica despre daca nu rupi engleza)</h2>
           
       <%- include('./partials/nav.ejs') %> 
        
    </body>
    <footer>
        Copyright &copy; Stoia Alin
    </footer>
</html>