<!DOCTYPE html>
<html lang="en" dir=""ltr>
    <head>
        <meta charset="utf-8">
        <title>Hopa!!</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
       <div class="container">
           <h2>Not implemented yet...</h2>
           <h1>501</h1>
           <p>We have a little more work to do here</p>
           <a href="/">Home</a>
           <a href="about.html">About</a>
           <a href="404.html">500</a>
       </div>
    </body>
</html>